<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>API Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Search Provider</string>
			<key>Key</key>
			<string>search_provider</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>Google</string>
				<string>Instagram</string>
				<string>Bing</string>
				<string>Unsplash</string>
			</array>
			<key>Values</key>
			<array>
				<string>AFGoogleAPIClient</string>
				<string>AFInstagramAPIClient</string>
				<string>AFBingAPIClient</string>
				<string>AFUnsplashAPIClient</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
